@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .accent-line {
    @apply dark:bg-none bg-line bg-contain bg-no-repeat bg-[50%_100%];
  }
  .linedot {
    @apply absolute -left-3.5 h-6 w-6 bg-orange-500 dark:bg-gray-600 rounded-full dark:border-gray-900/90 border-4 border-white;
  }
}

html {
  scroll-behavior: smooth;
}

/* Nprogress bar Custom Styling (force) : STARTS */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background-color: rgba(251 146 60) !important;
  height: 3px !important;
}
.dark #nprogress .bar {
  background: rgba(251 146 60) !important;
}
#nprogress .peg {
  box-shadow: none !important;
}
/* Nprogress bar Custom Styling (force) : ENDS */

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.highlighted {
  background: rgba(200, 200, 255, 0.1);
  border-left: 4px solid #3777de !important;
  filter: saturate(1.5);
}
/* Code Line Highlighting ENDS */
